body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid #dddddd;
    height: 250px;
    width: 250px;
    background-color: rebeccapurple;
    border-radius: 50%;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
}

.hover{
    transform: scale(4);
}

.border-bottom-dark {
    border-bottom: 1px solid rgba(41, 41, 41, 1);
}

h2 {
    text-align: center;
}

p {
    text-align: left;
}